<!-- CIE -->
<div class="portfolio-modal modal fade" id="portfoliaCIE" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Center For Innovation &amp; Entrepreneurship</h2>
                        <h6>This Page will be updated soon.</h6>
                        <div><a href="http://cie.cmc.edu"><img src="img/portfolio/cie/updated-cie-website-optimized.jpg" class="img-responsive img-centered"></a></div>
                        <hr class="star-primary">
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://cie.cmc.edu">The CIE</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">December 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Primarily Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RDS -->
<div class="portfolio-modal modal fade" id="portfoliaRDS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Robert Day School Case Competition</h2>
                        <h6>Updates to this will be coming soon.</h6>
                        <hr class="star-primary">
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Great Lakes Company</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">March 2016</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Design and Presentation</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Claremont Volleyball -->
<div class="portfolio-modal modal fade" id="portfoliaClaremontVolleyball" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Claremont Volleyball Graphic Design</h2>
                        <h6>This will be updated in the future!</h6>
                        <hr class="star-primary">
                        <div><a href="http://claremontvolleyball.com"></a></div>
                        <div>
                          <img src="img/portfolio/claremont_volleyball/Finalized-Warmup-Design.png" class="img-responsive img-centered">
                          <img src="img/portfolio/claremont_volleyball/claremont-volleyball.png" class="img-responsive img-centered">
                          <img src="img/portfolio/claremont_volleyball/sleeve-logo.png" class="img-responsive img-centered">
                          <img src="img/portfolio/claremont_volleyball/kanga-spike.png" class="img-responsive img-centered">
                          <img src="img/portfolio/claremont_volleyball/kangaroo-pass.png" class="img-responsive img-centered">
                          <img src="img/portfolio/claremont_volleyball/kangaroo-set.png" class="img-responsive img-centered">
                        </div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Claremont Volleyball Club</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">March 2016</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Design</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Find Enchiladas -->
<div class="portfolio-modal modal fade" id="portfoliaModalFindEnchiladas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Find Enchiladas</h2>
                        <h6>WHAT: Personalized Food Scraper and Scheduled SMS Notifier</h6>
                        <h6>HOW: Laravel 5, MySQL 5, Twilio API, HTML, CSS, JavaScript, Cron</h6>
                        <hr class="star-primary">
                        <div><a href="http://findenchiladas.com"><img src="img/portfolio/FindEnchiladas/homepage.png" class="img-responsive img-centered" id="feHomepage" alt=""></a></div>
                        <p><a href="https://github.com/Find-Enchiladas/findenchiladas">Find Enchiladas</a> is my first web development project. Originally created as part of a <a href="http://www1.cmc.edu/pages/faculty/alee/">Distributive Software Architecture</a> class project, we decided to continue developing the application.</p>
                        <p>Find Enchiladas pulls dining hall menus from 7 different dining halls and compares for matches based off someone's favorite foods. But we didn't stop there. As college students, we want information delivered to our fingertips. To accomodate that, we use the Twilio messaging API to send regular text messages using Cron Jobs.</p>
                        <p>My project partner, <a href="https://www.linkedin.com/in/andrewatwong">Andrew Atwong</a>, and I recently improved the relational database and pushed this project into Laravel to better consolidate code and improve its efficiency. The app features a signup page, encrypted passwords, forgotten password retrievals, and settings to turn off notifications. At some point, we plan to include further improvements such as nuanced preferences, better searches, and maybe even mobile apps.</p>
                        <div><img src="img/portfolio/FindEnchiladas/feSMS.png" class="img-responsive img-centered" id="feSMS" alt=""></div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">The Claremont Colleges</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">March 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Claremont Rise -->
<div class="portfolio-modal modal fade" id="portfolioModalClaremontRise" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Claremont Rise</h2>
                      <h6>WHAT: Automated Emailer for College News & Event Scraper</h6>
                      <h6>HOW: Laravel 5, Goutte, MySQL 5, Sendgrid, Instagram, Forecast.io, Cron, HTML, CSS, JavaScript</h6>
                      <hr class="star-primary">
                      <div><a href="http://claremontrise.com"><img src="img/portfolio/ClaremontRise/homepage.png" class="img-responsive img-centered" alt=""></a></div>
                      <p>My original goal for <a href="https://github.com/kcunanan/claremontrise">Claremont Rise</a> was strictly educational; how much stuff could I learn in one project? I wanted to better understand Laravel and relearn the process of building a dynamic website from the ground up. So, I decided to build an app that provided information to students regarding everything from the weather to campus events. Building Claremont Rise included things like creating my biggest relational database, developing a logo, and understanding my users (college students, professors, deans, etc). Below is an old mockup of the database I developed.</p>
                      <img src="img/portfolio/ClaremontRise/cr-old-db-example.png" class="img-responsive img-centered">
                      <p>The first iteration of Claremont Rise included information about campus events, campus news, various student newspapers, special talks at the Ath, weather, and even a daily campus instagram picture. A sample of it can be seen below.</p>
                      <div><img src="img/portfolio/ClaremontRise/email.png" class="img-responsive img-centered" alt=""></div>
                      <p>However, after getting back to college, Claremont Rise became extremely hard to maintain and other campus organizations began offering similar services. Consequently, I decided to narrow my focus to solely news organizations across the 5Cs. This project is currently under construction for these reasons.</p>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://claremontrise.com">Claremont Colleges</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://claremontrise.com">July 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://claremontrise.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModalghsnd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Official GHCHS Speech & Debate Team Site</h2>
                      <h6>WHAT: Continuosuly Updated Team Newsfeed and Custom Content for Admins</h6>
                      <h6>HOW: Instagram, Twitter, Laravel 5, Instagram API, Twitter API, FullCalendar.js, MySQL 5</h6>
                      <hr class="star-primary">
                      <div><a href="http://ghsnd.win"><img src="img/portfolio/ghsnd/home.png" class="img-responsive img-centered" id="ghHomepage" alt=""></a></div>
                      <p><a href="https://github.com/GranadaHillsSnD/GHSnD.win">The Granada Hills Speech and Debate Team Newsfeed</a> was created at the request of current members of the GHCHS Speech and Debate Team. The team originally used social media outlets like Facebook to keep students informed regarding event information.</p>
                      <p>To fix this, I developed a relational database and Laravel 5 web application to operate a newsfeed that pulls data from Instagram and Twitter admin accounts. This functions off a cron that frequently searches for new posts and allows designated admins (team officers) to approve or deny the social media post. The site also features a calendar, and upcoming events section where an admin can post new info after securely logging in.</p>
                      <div><img src="img/portfolio/ghsnd/adminpost.png" class="img-responsive img-centered" alt=""></div>
                      <div><img src="img/portfolio/ghsnd/calendar.png" class="img-responsive img-centered" id="feSMS" alt=""></div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://www.ghchs.com/activities/speech_and_debate">Granada Hills Speech and Debate Team</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://ghsnd.win">August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://ghsnd.win">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModalLinkedIn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>LinkedIn Non-Technical HR Hackathon - 2nd Place</h2>
                      <h6>WHAT: Competition to Ideate an HR Tool to increase Employee Happiness in the Workplace</h6>
                      <h6>HOW: Photoshop, Powerpoint, Illustrator, HTML, CSS, JavaScript, Bootstrap</h6>
                      <hr class="star-primary">
                      <div><img src="img/portfolio/LinkedIn/HR-dashboard.png" class="img-responsive img-centered" alt=""></div>
                      <p>The LinkedIn Human Resources Hackathon was an exciting and interesting experience. Being a non-technical hackathon, I had to pivot and accommodate the group without using programming. Hackers were instructed to think of an application or solution to the age-old problem residing in human resources: why are people not interested in their work?</p>
                      <p>We decided to pitch the <strong>Impact Dashboard</strong> which would agglomerate data from a company's pool of data and crunch numbers to provide personal statistics to each employee. Such an board would ideally boost the morale of employees through tangible and real statistics that showed positive impact through their work.</p>
                      <p>My primary goal was to create a dashboard that represented this. Using Adobe Photoshop CC and a Bootstrapped HTML template, I was able to create a very colorful mockup that captured our idea using a LinkedIn color scheme. This visual along with spectacular presentations helped us reach the finals and then 2nd place overall.</p>
                      <div><img src="img/portfolio/LinkedIn/group-pic.png" class="img-responsive img-centered" alt=""></div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://linkedin.com">LinkedIn Headquarters</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://claremontrise.com">August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://claremontrise.com">Graphic Design/Ideation</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5CHackathon" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>5C Hackathon - Best App for Scaling Human Connection</h2>
                      <h6>WHAT: Yik Yak-like Social Media Interface for Campus Dining Halls</h6>
                      <h6>HOW: Laravel 5, MySQL 5, Cron, Instagram API, HTML, CSS</h6>
                      <hr class="star-primary">
                      <div><a href="http://5cdiningtoknow.com"><img src="img/portfolio/Hackathon/food-vote.png" class="img-responsive img-centered" alt=""></a></div>
                      <p>The 5C Hackathon is an even held every semester which engages students from any campus to build apps. Divided into Beginner, Intermediate, and Advanced, the competition only gets tougher. Lucky for us, we competed in the Advanced Group since I had previous computer science and hackathon experience.</p>
                      <p>We decided to build a dining hall application to bring more social interactivity to food. Though dining hall food tastes great, there isn't really a community around the 7 dining halls across the Claremont Colleges. To be completely honest, we wanted our app to have a 'Yik Yak' quality to it. As a result, we wanted features like direct posting and upvoting/downvoting. </p>
                      <h4>Read more about this event and our success <a href="https://www.cmc.edu/news/cmc-students-demonstrate-tech-savvy-at-5c-hackathon">here</a>.</h4>
                      <div><img src="img/portfolio/Hackathon/post.png" class="img-responsive img-centered" alt=""></div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://claremontrise.com">Claremont Colleges</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://claremontrise.com">July 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://claremontrise.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModalProductsPage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Code For America - Products Page</h2>
                      <h6>WHAT: Redesigned Code For America Products Page to better showcase CFA Products</h6>
                      <h6>HOW: Jekyll, Liquid, HTML, CSS, Isotope</h6>
                      <hr class="star-primary">
                      <div><img src="img/portfolio/products-page/wholepage.png" class="img-responsive img-centered" alt=""></div>
                      <p><a href="https://github.com/kcunanan/codeforamerica.org/blob/update-apps/apps/index.html">The Products Page</a> was part of a Code For America initiative to redesign the main site in order to reflect new goals and missions for the company. We were told that the desired audience was younger government officials who wanted to create change. In order to showcase products, we had to organize the apps efficiently and effectively so users could search through the page quickly.</p>
                      <p>The Products Page was developed using Jekyll and Liquid. We decided to use isotope to organize apps using button clicks. We categorized apps by four sections (Economic Development, Communication and Engagement, Safety and Justice, and Health) and subdivided those into stages (Betas, Alphas, Live, etc). Ultimately, we created a site that had quite a bit of functionality that operated off a small CSV file exported from an organized Google Doc.</p>
                      <p>After a few user testing sessions, we began to understand that the page needed more work on the high level, (i.e. how we categorize and sort the apps). But people appreciated things like a featured app, and the ability to categorize. However, the site will certainly take more time before it can be put live.</p>
                      <h4>Update: Code For America made modifications to our experimental page but they finally <a href="http://codeforamerica.org/apps">hosted the page!</a></h4>
                      <div><img src="img/portfolio/products-page/buttons.png" class="img-responsive img-centered" id="feSMS" alt=""></div>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://codeforamerica.org">Code For America</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://codeforamerica.org/products">July - August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://codeforamerica.org">Front End Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModalSummitRegistrants" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Code For America - Data Visualization</h2>
                      <h6>WHAT: Summit Data Visualization App</h6>
                      <h6>HOW: Node.js, Google Sheets, HTML, CSS, Charts.js, D3, Underscore</h6>
                      <hr class="star-primary">
                      <div><a href="http://claremontrise.com"><img src="img/portfolio/summit-registrants/dashboard.png" class="img-responsive img-centered" id="feHomepage" alt=""></a></div>
                      <p><a href="https://github.com/kcunanan/summit-registrants">The Summit Registrants App</a> was a small project that sought to represent an accumulation of Summit data online. Code For America usually runs these pages throughout TV monitors around the office.</p>
                      <p>Having never worked with Node.js in the past, I had to really push myself to understand what was happening in this code. Ultimately, I was able to understand that and the various JS libraries to make the application work. From there, it boiled down to creating computations based of available data. Whether it was calculating how many different types of people were going, or total funds obtained from ticket sales, all the data was taken dynamically from a Google Sheet. </p>
                      <p>That being said, the challenging part of this project was synchronizing the data with a  Google Sheet constantly being updated from a ticket registration form. Once we figured out how to obtain an API key for our specific Google Sheet, we had the app download new data in 5 minute intervals.</p>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://www.codeforamerica.org/">Code For America</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModalWow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Wow Beauty Supply - Remodel</h2>
                      <h6>WHAT: E-Commerce Website Makeover, Migration, and Maintenance</h6>
                      <h6>HOW: Shopify, Liquid, CSS</h6>
                      <hr class="star-primary">
                      <p><a href="http://wowbeautysupply.com/">Wow Beauty Supply</a> is a local beauty supply store that was looking for a way to redesign their website. Originally Wow Beauty used Magento to manage and maintain their store, but it fell into disarray because Magento was complicated and confusing to use. After doing my research and discussions with others, I recommended and managed the store's transition from Magento to Shopify.</p>
                      <p>Along the way, I also transferred their domain to a more reliable service provider, migrated their inventory info, and built up a new website after discussing Shopify templates.</p>
                      <p>Currently, we are updating the images, and product descriptions, but the site has been successfully transferred and will soon be ready to go.</p>
                        <ul class="list-inline item-details special-highlight">
                            <li>Client:
                                <strong><a href="http://wowbeautysupply.com">Wow Beauty Supply</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://wowbeautysupply.com">August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://wowbeautysupply.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
